*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: rgb(199, 199, 199);
}
.container {
  width: 40%;
  top: 50%;
  left: 50%;
  background: white;
  border-radius: 10px;
  min-width: 450px;
  position: absolute;
  min-height: 100px;
  transform: translate(-50%, -50%);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
 
}

@import url('https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900');


.todo-text {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  font-size: 100px;
  font-weight: 900;
  text-shadow: 0 20px 40px rgba(0,0,0,.5);
  color:#062930;
  text-shadow: 0 20px 40px rgba(0,0,0,.5);
}


#newtask {
  position: relative;
  padding: 30px 20px;
}
#newtask h3 {
  margin-bottom: 20px;
}

#newtask input {
  width: 75%;
  height: 45px;
  position: relative;
  border: none;
  outline: none;
  padding: 0px 7px;
  border-radius: 6px;
  color: #062930;
  font-size: 15px;
  background-color: transparent;
  box-shadow: 3px 3px 10px rgba(0,0,0,1),
  -1px -1px 6px rgba(255, 255, 255, 0.4);
}

#newtask input:focus {
    border: 2px solid transparent;
    color: #062930;
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0,0,0,1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}
#newtask button {
  float: right;
  width: 20%;
  height: 45px;
  position: relative;
  margin: 0;
  padding: 0.8em 1em;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: #062930;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button:hover {
    animation: sh0 0.5s ease-in-out both;
  }

  @keyframes sh0 {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  
    25% {
      transform: rotate(7deg) translate3d(0, 0, 0);
    }
  
    50% {
      transform: rotate(-7deg) translate3d(0, 0, 0);
    }
  
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
  
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  
  button:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
  }
  
  button::before,
  button::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    opacity: 0;
    transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    z-index: -1;
    transform: translate(100%, -25%) translate3d(0, 0, 0);
  }
  
  button:hover::before,
  button:hover::after {
    opacity: 0.15;
    transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
  }
  
  button:hover::before {
    transform: translate3d(50%, 0, 0) scale(0.9);
  }
  
  button:hover::after {
    transform: translate(50%, 0) scale(1.1);
  }
  

#tasks {
  border-radius: 10px;
  width: 100%;
  position: relative;
  background-color: #ffffff;
  padding: 30px 20px;
  margin-top: 10px;
}

.task {
  border-radius: 5px;
  align-items: center;
  border: 1px solid #939697;
  cursor: pointer;
  background-color: #dadbdf;
  height: 50px;
  margin-bottom: 8px;
  padding: 5px 10px;
  line-height: 35px;
  /*justify-content: space-between;
  display: flex;*/
}
.task span {
  font-size: 15px;
  font-weight: 400;
}
.task .button {
  background-color: #db2525;
  color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
  height: 100%;
  width: 40px;
  border-radius: 5px;
  float: right;
  margin-right: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.task .button.edit {
  background-color: #3d9afb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.update-img {
  width: 30px;
  height: 30px;
}
.delete-img {
  width: 31px;
  height: 31px;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert .close {
  cursor: pointer;
  float: right;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.2;
  text-decoration: none !important;
  font-size: 18px;
  line-height: 1.2;
  position: relative;
  top: -2px;
  right: -10px;
  color: inherit;
}